<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h2 class="modal-title">日程調整の行い方</h2>
      </div>
      <div class="modal-body">
          <div class = 'container-fluid'>
              <div class="row modal-background">
                  <div class="col-md-12 modal-description">
                    <div>
                      <h3 class="modal-title-color">カレンダーをドラッグして日程調整を行う</h3>
                        <h4>１. 日程を調整する人数を選択（2人 or 3人以上）</h4>
                        <h4>２. 提案したいカレンダーを選択</h4>
                        <h4>３. すべて選択したら日程を調整ボタンをクリック</h4>
                        <h4>４. イベントページが作成されます。リンクを送りましょう。</h4>
                    </div>
                    <div>
                      <h3 class="modal-title-color" style="margin-top: 65px;">範囲を指定して日程調整を行う</h3>
                        <h4>１. 画面右下の＋ボタンをクリック</h4>
                        <h4>２. イベントのタイトル、範囲を選択して、次へをクリック</h4>
                        <h4>３. イベントを行う時間帯と所要時間を入力して、作成をクリック</h4>
                        <h4 style="margin-bottom: 35px">４. イベントページが作成されます。リンクを送りましょう。</h4>
                    </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>
