<% provide(:title, 'Home') %>
<div class='container toppage-main'>
    <div id="animation" class='center'>
        <h1>calere</h1>
          <p>shedule adjustment application</p>
          <p><%= ENV["GMAIL_PASSWORD"] %></p>
    </div>
</div>
