<% if current_user == @user %>

  <% provide(:title, @user.name) %>

  <div class = 'container' style="margin-bottom: 30px;" >

    <div class = "row">
      <div class = "col-sm-8 col-sm-offset-2">
        <div id="calendar"></div>
      </div>
    </div>

  </div>

<% elsif %>

  <!-- 書き方を変える（before actionがいいかも） -->
  <p>ログインしてください。</p>

<% end %>



<%= javascript_include_tag "calendar" %>
