<% if @status == 'success' %>
  $("#form-modal").html("<%= escape_javascript(render 'link') %>")
  $("#form-modal").modal("show");
  $('.append').prepend('<tr><td>hot!</td><td><%= link_to @title, s_path(access_id: @access_id) %></td><td><%= link_to s_path(access_id: @access_id), reomte: true do %><button>リストから削除</button><% end %></td></tr>');
<% elsif @status == 'fail' %>
  $("#fail-modal").modal("show")
<% end %>

$(document).on('turbolinks:load', function () {
  var clipboard = new Clipboard('.copy-btn');
  clipboard.on('success', function(e){
    e.clearSelection();
    $('#tooltip-button').tooltip("show");
  });
  clipboard.on('error', function(e){
    e.clearSelection();
    alert("ブラウザが対応しておりません");
  });
});
