<h1><%= @submission.title %></h1>
<h2 style="margin-bottom: 40px;">作成者: <%= @submission.user.name %></h2>
<div class="container" style="margin-bottom: 150px;">
  <div class="col-sm-8 col-sm-offset-2">
    <div id='calendar'></div>
  </div>
</div>

<% if !@submission.finished_flag && @submission.expired_flag %>
  <p>締め切りました</p>
<% end %>


<% if @submission.finished_flag %>
  <h2>決定した日時</h2>
  <input id="submited" class="copy-box" value="<%= @determined_date %>">
  <button id="tooltip-button" class="btn btn-primary copy-btn" data-clipboard-target="#submited" data-toggle="tooltip" title="コピーされました">日時をコピー</button>
<% end %>

<% if !@submission.expired_flag && @submission.more_than_two && @submission.user == current_user %>
  <button class="btn btn-primary" id="expiration">締め切る</button>
<% elsif !@submission.expired_flag && @submission.more_than_two && @submission.user != current_user %>
  <button class="btn btn-primary" id="submit-detaildates">送信する</button>
<% end %>
<%= render 'shared/name' %>
