<h1><%= @submission.title %></h1>
<h2 style="margin-bottom: 40px;">作成者: <%= @submission.user.name %></h2>
<div class="container" style="margin-bottom: 150px;">
  <div class="col-sm-8 col-sm-offset-2">
    <div id='calendar'></div>
  </div>
</div>
